<% provide(:title, "Home") %>

<!-- Strings to type -->
<div id="typed-strings2">
  <p>build_database( )</p>
  <p>make_interfaces( )</p>
  <p>enhance_features( )</p>
  <p>deploy_soon( )</p>
</div>

<!-- The typed text goes here -->

<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="aspirinx_logo.png" align="left" style="padding-top: 2em; width:95%">
    </div>
    <div class="col-8">
      <p style="font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;font-size: 240%; color: rgb(48, 73, 176); padding-left: 5%; padding-top: 7%; padding-right: 5%; text-align: left"><b><span style="color: black">></span><span style="color: rgb(157, 53, 53)"> app</span>.<span id="typed2"></span></b></p>
      <!-- <p style="font-family: 'Roboto Slab', monoto; font-size: 180%; color: black; padding-left: 5%; text-align: left"><span id="typed"></span></p> -->
      <p style="font-family: 'Roboto Slab', monoto; font-size: 180%; color: rgb(68, 69, 78); padding-left: 5%; text-align: left">A web application to seamlessly connect professors, teaching assistants, and students, allowing for an accelerated learning in computer science classes. AspirinX is programming assignments in the cloud. COMING SOON!</p>
      <div style="display: flex; justify-content: center; align-items: center;">
        <%= link_to "Learn more", about_path, class: "btn btn-primary" %>
        <%= link_to "Signup as student", student_signup_path, class: "btn btn-primary", style: "margin-left: 10px; margin-right: 10px" %>
        <%= link_to "Signup as teacher", teacher_signup_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<br><br><hr/><br>

<div style="display:flex; justify-content: center; align-items: center;">
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <%= f.submit "Login", class: "btn btn-primary btn-block" %>
  <% end %>
</div>

<br><br><br>

<!-- typed.js scripts -->

<script>
  var typed = new Typed('#typed2', {
    stringsElement: '#typed-strings2',
    loop: true,
    typeSpeed: 30,
    backSpeed: 75,
    showCursor: true,
    smartBackspace: true,
    contentType: 'html'
  });
</script>
<script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    loop: false,
    typeSpeed: 20,
    backSpeed: 75,
    showCursor: false,
    smartBackspace: true,
    contentType: 'html'
  });
</script>

