

<% provide(:title, "About") %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AsprinX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, id: "home", class: "nav-link" %>

          <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, id: "contact", class: "nav-link" %>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<p><br><br><br></p>
<div style="display:flex; justify-content: center; align-items: center;">


<div class="card w-50">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <!-- <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Check me out
        </label>
      </div> -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

</div>


  <!-- <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <%= link_to "Home", root_path, id: "home", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, id: "about", class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Demo", demo_path, id: "demo", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, id: "contact", class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="card-body w-50" style="height:100%">

    </div> -->
  <!-- </div> -->
