<br>
<div class="container">
  <h1>Student Dashboard: <%= @user.name %></h1>
  <hr/>
  <br>
  <div class="row">
    <div class="col">
      <h4>ANNOUNCEMENTS</h4>
      <br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">COSI 21a [09.17.17]</h4>
          <p class="card-text">The new programming assignment has been released.</p>
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">COSI 166b [09.19.17]</h4>
          <p class="card-text">Don't forget to bring your laptops to class!</p>
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">COSI 21a [09.20.17]</h4>
          <p class="card-text">The programming assignment has been extended...</p>
          <a href="#" class="btn btn-primary">Open</a>
        </div>
      </div>
    </div>

    <div class="col">

      <h4>LIST OF COURSES</h4>
      <br>
      <div class="list-group" id="list-tab" role="tablist">
        <% @course_list.each do |title, code| %>
          <a href= "<%=code%>" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><%=title%></a>
        <% end %>
      </div>
      <% if @course_list.any? %>
        <br>
      <% end %>
      <div class="row justify-content-md-center">
        <div class="col">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Code</span>
            <input type="text" class="form-control" placeholder="Enter course code..." aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col col-md-auto">
          <button type="button" class="btn btn-success ml-auto">Enroll</button>
        </div>

      </div>
      <br><hr>
      <div class="row justify-content-md-center">
        <div class="col">
          <h4>PROGRESS</h4>
        </div>
        <div class="col col-md-auto">
          <h4>Submitted: 1/4</h4>
        </div>

      </div>

      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>COURSE</th>
            <th>ASSIGNMENT</th>
            <th>DUE DATE</th>
            <th>SUBMITTED</th>

          </tr>
        </thead>
        <tbody>
            <% @assignment_list.each do |status, code, due_date, course_id| %>
            <tr>
              <td><%=course_id%></td>
              <td><%=code%></td>
              <td><%=due_date%></td>
              <td><%=status%></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br><br><br>
