<% provide(:title, 'Login') %>


<p><br><br><br></p>
<div style="display:flex; justify-content: center; align-items: center;">
  <form>
    <div class="form-group">
      <h1 class="card-title">Login</h1>
      <hr/>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email address" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        <br>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>

        <div style="display:flex; justify-content: center; align-items: center;">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
      <% end %>
  </form>
</div>
