<% provide(:title, "Assignment") %>
<div class="row" style="margin-left: 0; margin-right: 0">
  <div class="col-lg-5 assignment-details">
    <div class="container">
      <h3 style="padding-top:20px"><%= @assignment.name %> <small class="text-muted"><%= @assignment.course.course_code %></small></h3>
      <hr/>
      <dl class="row">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9"><%= @assignment.instructions %></dd>
        <dt class="col-sm-3">Due Date</dt>
        <% if @assignment.pass_due? %>
        <dd class="col-sm-9" style="color: red">
        <% else %>
        <dd class="col-sm-9">
        <% end %>
          <%= @assignment.due_date.strftime('%a, %b %d %Y, %H:%M') %>
        </dd>
        <dt class="col-sm-3">PDF Instructions</dt>
        <dd class="col-sm-9"><%= link_to 'View', "http:#{@assignment.pdf_instruction}", target: "_blank" %></dd>
      </dl>
      <hr/>
      <%= render 'shared/stdout' %>
    </div>
    <br/>
  </div>
  <div class="col-lg-7" style="padding-right: 0">
    <%= nested_form_for @submission, :url => url_for(:controller => 'submissions', :action => 'save_or_run') do |f| %>
    <%= token_tag(nil) %>
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#class_01" data-toggle="tab"> Solution.java </a><span> x </span>
        </li>
        <li><a href="#" class="add-class"> + Add File </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="class_01">
          <pre id="editor"  style="margin-bottom: 0px" class="editor-div"></pre>
        </div>
      </div>
    </div>
    <%= f.fields_for @code do |c|%>
      <%= c.text_area :source_code, id: :code_area%>
    <%end%>
    <%= f.number_field :assignment_id, id: :submission_assignment_id, style: "display: none", :value => @assignment.id %>
    <%= f.number_field :id, id: :submission_id, style: "display: none", :value => @submission.id %>
    <%= f.number_field :run, id: :run, style: "display: none", :value => 0 %>
    <div class="container" style="background-color: #eaecef; padding: 10px;">
      <div class="row" style="margin: 0px">
        <div class="col-4" id="notification"></div>
        <div class="col-2"></div>
        <div class="col-3">
          <%= f.submit "Run", class: "btn btn-primary ml-auto w-100 btn-run" %>
        </div>
        <div class="col-3">
          <%= f.submit "Submit", class: "btn btn-success ml-auto w-100 btn-save" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
<%= render 'shared/editor.js' %>
editor.getSession().setMode("ace/mode/<%= @submission.assignment.lang %>")
<% if !is_student? %>
editor.setReadOnly(true)
<% end %>
editor.setValue("<%= raw(@submission.codes.first.source_code.inspect[1..-2]) %>", 1);
editor.getSession().on('change', () => input.val(editor.getSession().getValue()))
<% if !@submission.assignment.pass_due? %>
  <%= render 'shared/autosave.js' %>
<% end %>
</script>

<style>
  .container {
    margin-top: 10px;
  }
  .nav-tabs > li {
    position:relative;
  }
  .nav-tabs > li > a {
    display:inline-block;
  }
  .nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
  }
  .nav-tabs > li:hover > span {
    display: inline-block;
  }
</style>
