<% provide(:title, "Assignment") %>
<div class="row" style="margin-left: 0; margin-right: 0">
  <div class="col-lg-5 assignment-details">
    <div class="container">
      <h3 style="padding-top:20px"><%= @assignment.name %> <small class="text-muted"><%= @assignment.course.course_code %></small></h3>
      <hr/>
      <dl class="row">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9"><%= @assignment.instructions %></dd>
        <dt class="col-sm-3">Due Date</dt>
        <dd class="col-sm-9"><%= @assignment.due_date.strftime('%a, %b %d %Y, %H:%M') %></dd>
      </dl>
      <hr/>
      <%= render 'shared/stdout' %>
    </div>
    <br/>
  </div>
  <div class="col-lg-7" style="padding-right: 0">
    <%= form_for(@submission, url: save_path) do |f| %>
    <%= token_tag(nil) %>
    <pre id="editor" style="margin-bottom: 0px" class="editor-div"></pre>
    <%= f.text_area :source_code, id: :submission_source_code %>
    <%= f.number_field :assignment_id, id: :submission_assignment_id, style: "display: none", :value => @assignment.id %>
    <%= f.number_field :id, id: :submission_id, style: "display: none", :value => @submission.id %>
    <%= f.number_field :run, id: :run, style: "display: none", :value => 0 %>
    <div class="container" style="background-color: rgb(232, 232, 232); padding: 10px;">
      <div class="row" style="margin: 0px">
        <div class="col-6">
        </div>
        <div class="col-3">
          <%= f.submit "Run", class: "btn btn-primary ml-auto w-100 btn-run" %>
        </div>
        <div class="col-3">
          <%= f.submit "Submit", class: "btn btn-success ml-auto w-100 btn-save" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
var editor = ace.edit("editor");
var input = $('textarea[id="submission_source_code"]').hide();
<% if !is_student? %>
editor.setReadOnly(true);
<% end %>
editor.$blockScrolling = Infinity;
editor.setTheme("ace/theme/xcode");
editor.getSession().setUseSoftTabs(false);
editor.getSession().setMode("ace/mode/java");
editor.setShowPrintMargin(false);
editor.setOptions({fontSize: "14px"});
editor.setValue("<%= raw(@submission.source_code.inspect[1..-2]) %>", 1);
editor.getSession().on('change', function() {
  input.val(editor.getSession().getValue());
});

// setInterval(autosave, 5000);

function autosave() {
  $.ajax({
    type: 'PATCH',
    url: '/autosave',
    data: $('form').serialize(),
    dataType: 'script',
    success: function(data) {
      console.log(data);
    }
  });
}
</script>
