<div class="col">
  <h4>LIST OF COURSES</h4>
  <br>
  <div class="list-group" id="list-tab" role="tablist">
    <% @course_list.each do |course| %>
      <%= link_to course.course_title, course_url(course), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
  <% if @course_list.any? %>
    <br>
  <% end %>
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Code</span>
        <input type="text" class="form-control" placeholder="Enter course code..." aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col col-md-auto">
      <button type="button" class="btn btn-success ml-auto">Enroll</button>
    </div>

  </div>
  <br><hr>
  <div class="row justify-content-md-center">
    <div class="col">
      <h4>PROGRESS</h4>
    </div>
    <div class="col col-md-auto">
      <h4>Submitted: <%= "#{@submission_list.length}/#{@assignment_list.length}"%></h4>
    </div>
  </div>

  <div class="progress">
    <% if !@assignment_list.any? %>
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    <% else %>
      <div class="progress-bar bg-success" role="progressbar" style="width: <%=(((@submission_list.length.to_f/(@assignment_list.length).to_f)*100).floor).to_s%>%" aria-valuenow="<%=(((@submission_list.length/(@assignment_list.length))*100).floor).to_s%>" aria-valuemin="0" aria-valuemax="100"></div>
    <% end %>
  </div>

  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>COURSE NUMBER</th>
      <th>ASSIGNMENT</th>
      <th>DUE DATE</th>
      <th>LINK</th>
      <th>GRADE</th>
    </tr>
    </thead>
    <tbody>
      <% if @assignment_list %>
        <% @assignment_list.each do |assignment| %>
          <% if(!assignment.id.in?(@submission_list.select(:assignment_id))) %>
            <tr>
              <td><%= assignment.course_code %></td>
              <td><%= assignment.id %></td>
              <td><%= assignment.due_date %></td>
              <td><%= link_to 'Show', assignment_url(assignment), class: 'btn btn-outline-primary btn-sm' %></td>
              <td>NOT SUBMITTED</td>
            </tr>
          <%end%>
        <% end %>
      <% else %>
        <td colspan="4" align="center">You don't have any pending assignments</td>
      <% end %>

      <% if @submission_list %>
        <% @submission_list.each do |submission| %>
          <tr>
            <td><%= submission.assignment.course_code %></td>
            <td><%= submission.assignment_id %></td>
            <td><%= submission.submission_date %></td>
            <td><%= link_to 'Show', submission_url(submission), class: "btn btn-outline-primary btn-sm" %></td>
            <td><%= submission.grade %></td>
          </tr>
        <% end %>
      <% else %>
        <td colspan="4" align="center">You don't have any submissions</td>
      <% end %>
    </tbody>
  </table>
</div>
