<div class="col">
  <h4>LIST OF COURSES</h4>
  <br>
  <div class="list-group" id="list-tab" role="tablist">
    <% @course_list.each do |course| %>
      <%= link_to "#{course.course_title} (#{course.course_code})", course_url(course), class: "list-group-item list-group-item-action" %>
    <% end %>
  </div>
  <% if @course_list.any? %>
    <br>
  <% end %>

  <%= form_for(@enrollment, url: enroll_path) do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Code</span>
            <%= f.text_field :course_id, class: "form-control", placeholder: "Enter permission string..", type: "text" %>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="input-group">
            <%= f.submit "Enroll", class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br><hr>
  <div class="row justify-content-md-center">
    <div class="col"><h4>PROGRESS</h4></div>
    <div class="col col-md-auto">
      <h4>Submitted: <%= "#{@submission_list.length}/#{@assignment_list.length + @submission_list.length}" %></h4>
    </div>
  </div>

  <div class="progress">
    <% if !@assignment_list.any? %>
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    <% else %>
      <div class="progress-bar bg-success" role="progressbar" 
           style="width: <%= (((@submission_list.length.to_f/(@assignment_list.length + @submission_list.length).to_f)*100).floor).to_s %>%" 
           aria-valuenow="<%= (((@submission_list.length/(@assignment_list.length + @submission_list.length))*100).floor).to_s %>" 
           aria-valuemin="0" aria-valuemax="100">
      </div>
    <% end %>
  </div>

  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>COURSE</th>
      <th>ASSIGNMENT</th>
      <th>DUE DATE</th>
      <th>LINK</th>
    </tr>
    </thead>
    <tbody>
      <% if @assignment_list %>
        <% @assignment_list.each do |assignment| %>
          <tr>
            <td><%= assignment.course.course_code %></td>
            <td><%= assignment.name %></td>
            <td><%= assignment.due_date.strftime('%b %d %Y, %H:%M') %></td>
            <td><%= link_to 'Show', assignment, class: 'btn btn-outline-primary btn-sm' %></td>
          </tr>
        <% end %>
      <% else %>
        <td colspan="4" align="center">You don't have any pending assignments</td>
      <% end %>
    </tbody>
  </table>
</div>
