<div class="col">
  <h4>NEW ANNOUNCEMENT</h4>
  <br>

  <% courses_array = Array.new %>
  <% id_hashes = Hash.new %>
  <% @course_list.each do |course| %>
    <% courses_array.push("#{course.course_title} (#{course.course_code})")%>
    <% id_hashes["#{course.course_title} (#{course.course_code})"] = course.id %>
  <% end %>

  <%= form_for(:announcement, url: announce_path) do |f| %>
    <div class="form-group">
      <%= f.label :course %>
      <%= f.select :course, options_from_collection_for_select(@course_list, :id, :course_title), {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter a title..." %>
    </div>
    <div class="form-group">
      <%= f.label :announcement_body %>
      <%= f.text_area :announcement_body, rows: 5, class: "form-control", placeholder: "Enter an announcement..." %>
    </div>
    <div class="form-group">
      <%= f.submit "Create", class: "btn btn-outline-success" %>
    </div>
  <% end %>

  <br>
  <hr>
  <br>
  <h4>PREVIOUS ANNOUNCEMENTS</h4>
  <%= render 'users/announcement' %>
</div>
