<% provide(:title, "Dashboard") %>
<% breadcrumb :dashboard %>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <%= gravatar_for @user, 100 %>
    </div>
    <div class="col" style="padding-top: 50px;">
      <h1><%= @user.role.capitalize %> Dashboard: <%= @user.name %></h1>
    </div>
  </div>
  <hr/>
  <br>
  <div class="row">
    <% if @user.role == "student" %>
      <%= render 'users/student_left_col' %>
      <%= render 'users/student_right_col'%>
    <% else %>
      <%= render 'users/teacher_left_col' %>
      <%= render 'users/teacher_right_col'%>
    <% end %>
  </div>
</div>
