



<div class="container">
  <br><br>
  <div class="card">
  <div class="card-body">

      <div class="table">
        <div class="row">
          <div class="col">
            <div style="display:flex; justify-content: center; align-items: center;">
              <h1>Editing User</h1>
            </div>
            <hr>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- Avatar Image -->
            <img src="/assets/man.png" alt="" style="width: 200px">
          </div>
          <div class="col">
            <%= render 'form', user: @user %>

            <%= link_to 'Back', user_path %>
          </div>
        </div>
      </div>






    <!-- <hr>
    <br>
    <div class="row">
      <div class="col">

      </div>
      <div class="col-md-auto">
        <img src="/assets/man.png" alt="" style="width: 200px">
      </div>
      <div class="col">
          <br>
          <strong>Name:</strong>
          <%= @user.name %> <br>
          <strong>Email:</strong>
          <%= @user.email %> <br>
          <strong>Role:</strong>
          <%= @user.role %> <br>
          <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
      <div class="col">

      </div>
    </div> -->
  </div>
</div>


</div>
