<% provide(:title, 'Signup') %>
<p><br><br><br></p>
<div style="display: flex; justify-content: center; align-items: center;">
  <div class="form-group">
    <h1 class="card-title">User Signup</h1>
    <hr/>
    <%= form_for(:user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, id: :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, id: :email, class: "form-control", placeholder: "Email Address" %>
      </div>
      <div class="form-group">
        <%= f.label :role %>
        <%= f.radio_button :role, 'teacher', id: :role, class: "form-control", placeholder: "Role" %>
        <%= label :role_teacher, 'Teacher' %>
        <%= f.radio_button :role, 'student', id: :role, class: "form-control", placeholder: "Role" %>
        <%= label :role_student, 'Student' %>
      </div>
       <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, id: :password, class: "form-control", placeholder: "Password" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, id: :password_confirmation, class: "form-control", placeholder: "Re-enter password" %>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <%= f.submit "Signup", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>