<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <dl class="row">
      <dt class="col-sm-3">Grade</dt>
      <dd class="col-sm-9">
        <%= form.number_field :grade, id: :submission_grade, class: "form-control" %>
      </dd>

      <dt class="col-sm-3">Comments</dt>
      <dd class="col-sm-9">
        <textarea class="form-control"></textarea>
      </dd>

      <div class="container">
        <%= form.submit "Save", class: "btn btn-outline-success" %>
      </div>
    </dl>
  </div>
<% end %>
