<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :submitted %>
    <%= form.check_box :submitted, id: :submission_submitted %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, id: :submission_student_id %>
  </div>

  <div class="field">
    <%= form.label :assignment_id %>
    <%= form.number_field :assignment_id, id: :submission_assignment_id %>
  </div>

  <div class="field">
    <%= form.label :submission_date %>
    <%= form.datetime_select :submission_date, id: :submission_submission_date %>
  </div>

  <div class="field">
    <%= form.label :source_code %>
    <%= form.text_area :source_code, id: :submission_source_code %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade, id: :submission_grade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
