<% provide(:title, "Submission Detail") %>
<% breadcrumb :submission, @submission %>
<div class="row" style="margin-left: 0; margin-right: 0">
  <div class="col-lg-5 assignment-details">
    <div class="container">
      <h3 style="padding-top:20px"><%= @submission.assignment.name %> <small class="text-muted"><%= @submission.user.name %></small></h3>
      <hr/>
      <dl class="row">
        <dt class="col-sm-3">From</dt>
        <dd class="col-sm-9">
          <%= @submission.user.name %>
        </dd>
        <dt class="col-sm-3">Instructions</dt>
        <dd class="col-sm-9">
          <%= @submission.assignment.instructions %>
        </dd>
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">
          <%= @submission.submission_date.strftime('%a, %b %d %Y, %H:%M') %>
        </dd>
        <% if is_student? %>
          <dt class="col-sm-3">Grade</dt>
          <dd class="col-sm-9">
            <%= @submission.grade %>
          </dd>
        <% else %>
          <%= render 'form', submission: @submission %>
        <% end %>
      </dl>
      <hr/>
      <%= render 'shared/stdout' %>
    </div>
    <br/>
  </div>
  <div class="col-lg-7" style="padding-right: 0">
    <% if !is_student? %>
      <pre id="editor" style="margin-bottom: 0px" class="editor-div"><%= raw(@submission.source_code) %></pre>
      <div class="container" style="background-color: rgb(232, 232, 232); padding: 10px;">
        <div class="row" style="margin: 0px">
          <div class="col-8"></div>
          <div class="col-4">
            <%= button_to "Run", run_url(id: @submission.id), method: :post, class: "btn btn-primary ml-auto w-100 btn-run", id: "teacher-run", name: @submission.id %>
          </div>
        </div>
      </div>
    <% else %>
      <pre id="editor" style="margin-bottom: 0px" class="submission-div"><%= raw(@submission.source_code) %></pre>
    <% end %>
  </div>
</div>

<script>
  var editor = ace.edit("editor");
  editor.getSession().setUseSoftTabs(false);
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/java");
  editor.setShowPrintMargin(false);
  editor.setReadOnly(true);
  editor.setOptions({fontSize: "14px"});
</script>
