<div class="row" style="margin-left: 0; margin-right: 0">
  <div class="col-lg-5">
    <div class="container">
      <h3 style="padding-top:20px">Assignment #<%= @submission.assignment_id %> <small class="text-muted"><%= @submission.user.name %></small></h3>
      <hr/>
      
      <dl class="row">
        <dt class="col-sm-3">From Student</dt>
        <dd class="col-sm-9">
          <%= @submission.user.name %>
        </dd>

        <dt class="col-sm-3">Instructions</dt>
        <dd class="col-sm-9">
          Instructions from assignment...
        </dd>

        <dt class="col-sm-3">Example</dt>
        <dd class="col-sm-9">
          Test examples...
        </dd>

        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">
          <%= @submission.submission_date %>
        </dd>

        <% if is_student? %>
          <dt class="col-sm-3">Grade</dt>
          <dd class="col-sm-9">
            <%= @submission.grade %>
          </dd>
        <% else %>
          <%= render 'form', submission: @submission %>
        <% end %>
      </dl>
      <hr/>
    </div>
  </div>
  <div class="col-lg-7" style="padding-right: 0">
    <pre id="editor" style="height: 86vh; margin-bottom: 0px"><%= @submission.source_code %></pre>
    <% if !is_student? %>
      <nav class="navbar navbar-light bg-light">
        <div class="row justify-content-between">
          <div class="col-sm-9">
            <select class="form-control" id="select1">
              <option>Java</option>
              <option>Ruby</option>
              <option>Python</option>
            </select>
          </div>
          <div class="col-sm-3 ml-auto">
            <button class="btn btn-success">Run code</button>
          </div>
        </div>
      </nav>
    <% end %>
  </div>
</div>

<script>
  var editor = ace.edit("editor");
  <% if is_student? %>
    var editorDiv = document.getElementById("editor");
    editorDiv.style.height = "93vh";
  <% end %>
  editor.setTheme("ace/theme/xcode");
  editor.getSession().setMode("ace/mode/java");
  editor.setShowPrintMargin(false);
  editor.setReadOnly(true);
  editor.setOptions({fontSize: "14px"});
</script>