<p id="notice"><%= notice %></p>

<p>
  <strong>Submitted:</strong>
  <%= @submission.submitted %>
</p>

<p>
  <strong>Student:</strong>
  <%= @submission.student_id %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @submission.assignment_id %>
</p>

<p>
  <strong>Submission date:</strong>
  <%= @submission.submission_date %>
</p>

<p>
  <strong>Source code:</strong>
  <%= @submission.source_code %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @submission.grade %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
