<div class="col">
  <div class="card">
    <div class="card-body" style="position: relative; height: 600px; overflow-y: scroll;">
      <div id="list-example" class="list-group"></div>
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <h4 style="display: flex; margin-bottom: 10px" class="justify-content-between">
          <div>Announcements</div>
        </h4>
        <% if @course.announcements.present? %>
          <% @a_list = (@course.announcements.sort_by {|announcement| announcement.announcement_date }).reverse %>
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <!--Showing only the first indexes data-->
            <div class="card bg-light mb-3">
              <div class="card-header" role="tab" id="heading0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                  <%="#{@a_list[0].announcement_date.strftime('%B %d, %Y')}"%>
                </a>
              </div>
              <div id="collapse0" class="collapse show" role="tabpanel" aria-labelledby="heading0">
                <div class="card-body">
                  <p class="card-text"><%=@a_list[0].announcement_body%></p>
                </div>
              </div>
            </div>
            <!--Only show the header of the second announcement onwards-->
            <% @a_list.drop(1).each_with_index do |announcement, index| %>
              <div class="card bg-light mb-3">
                <div class="card-header" role="tab" id="heading<%="#{index+1}"%>">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%="#{index+1}"%>" aria-expanded="false" aria-controls="collapse<%="#{index+1}"%>">
                    <%="#{announcement.announcement_date.strftime('%B %d, %Y')}"%>
                  </a>
                </div>
                <div id="collapse<%="#{index+1}"%>" class="collapse" role="tabpanel" aria-labelledby="heading<%="#{index+1}"%>">
                  <div class="card-body">
                    <p class="card-text"><%=announcement.announcement_body%></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
