<div class="col">
  <br>
  <h4 style="display: flex; margin-bottom: 10px" class="justify-content-between">
    <div>Posted Assignments</div>
    <% if !is_student? %>
    <%= link_to 'New Assignment', new_assignment_path(:course_id => @course.id), class: "btn btn-outline-primary btn-sm btn-link" %>
    <% end %>
  </h4>

<% if !is_student? %>

<%= render 'table_header', locals: { first: 'Assignment Name', second: 'Due Date', third: 'Submissions' } %>

<% else %>

<%= render 'table_header', locals: { first: 'Assignment Name', second: 'Due Date', third: 'Actions' } %>

<% end %>
<div id="assignment-list-<%= @course.id %>">
<% if !@assignment_list.nil? && @assignment_list.any? %>

<% count = 0 %>
<% @assignment_list.each do |assignment| %>
<% count = count + 1 %>
<% if count == @assignment_list.length %>
  <div id="last-row" class="row better-row last-row" style="border-radius: 0px 0px 15px 15px; padding-top: 25px; padding-bottom: 25px; background-color: rgb(242, 242, 242);">
<% else %>
  <div class="row better-row" style="padding-top: 25px; padding-bottom: 25px; background-color: rgb(242, 242, 242);">
<% end %>


  <% if !is_student? %>

  <div class="col-6">
    <div class="row">
      <div class="col">
        <%= link_to assignment.name, assignment %>
      </div>
      <div class="col-md-auto">
        <%= link_to '', edit_assignment_path(assignment, course_id: @course.id), class: "icon ion-edit icon-button table-icon" %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to '', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "icon ion-trash-a icon-button-delete table-icon" %>
        &nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
  <div class="col-3">
    <%= assignment.due_date.strftime('%b %d %Y, %H:%M') %>
  </div>

  <div class="col-3">
    <div class="row" style="margin-right: 2px;">
      <div class="col-6" style="padding-left: 0px; padding-right: 2px;">
        <%= link_to 'Show', assignment, class: "btn btn-outline-success btn-sm btn-block" %>
      </div>
      <div class="col-6" style="padding-left: 2px; padding-right: 0px;">
        <% if count == @assignment_list.length %>
        <button type="button" id="<%= assignment.id %>" data-remote="true" class="btn btn-outline-info btn-sm run-tests btn-block button-last-row-run">Run Tests</button>
        <% else %>
        <button type="button" id="<%= assignment.id %>" data-remote="true" class="btn btn-outline-info btn-sm run-tests btn-block">Run Tests</button>
        <% end %>
      </div>
    </div>
  </div>

  <% else %>

  <div class="col-6">
    <%= link_to assignment.name, assignment %>
  </div>

  <% if assignment.pass_due? %>
  <div class="col-3" style="color: red;">
    <% else %>
    <div class="col-3">
      <% end %>

      <%= assignment.due_date.strftime('%b %d %Y, %H:%M') %>
    </div>
    <div class="col-3">
      <%= link_to 'Show', assignment, class: "btn btn-outline-primary btn-sm" %>
    </div>

    <% end %>
  </div>

  <%= render 'report', locals: {assignment_id: assignment.id, assignment_name: assignment.name, length: @assignment_list.length, count: count } %>


  <% end %>

  <% else %>
  <div class="row better-row" style="border-radius: 0px 0px 15px 15px; padding-top: 25px; padding-bottom: 25px; background-color: rgb(242, 242, 242);">
    <div class="col-12">
      No assigments
    </div>
  </div>

  <% end %>
</div>

  <% if is_student? %>
    <%= render 'submissions' %>
  <% end %>

</div>
