<div class="col">
  <h4 style="display: flex; margin-bottom: 10px" class="justify-content-between">
    <div>Posted Assignments</div>
    <% if !is_student? %>
      <%= link_to 'New Assignment', new_assignment_path(:course_id => @course.id), class: "btn btn-outline-primary btn-sm" %>
    <% end %>
  </h4>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Assignment Name</th>
      <th>Due Date</th>
      <th>Actions</th>
      <% if !is_student? %>
        <th>Submissions</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% if @assignment_list %>
      <% @assignment_list.each do |assignment| %>
        <tr>
          <td><%= assignment.name %></td>
          <% if assignment.pass_due? && is_student? %>
          <td style="color: red">
          <% else %>
          <td>
          <% end %>
            <%= assignment.due_date.strftime('%b %d %Y, %H:%M') %>
          </td>
          <% if !is_student? %>
            <td>
              <%= link_to 'Edit', edit_assignment_path(assignment, course_id: @course.id), class: "btn btn-outline-primary btn-sm" %>
              <%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
            </td>
            <td>
              <%= link_to 'Show', assignment, class: "btn btn-outline-success btn-sm" %>
              <button id="<%= assignment.id %>" data-remote="true" class="btn btn-outline-info btn-sm run-tests">Run Tests</button>
            </td>
          <% else %>
            <td>
              <%= link_to 'Show', assignment, class: "btn btn-outline-primary btn-sm" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <td colspan="4" align="center">No assignments</td>
    <% end %>
    </tbody>
  </table>
  <% if is_student? %>
    <%= render 'submissions' %>
  <% end %>
</div>
