<div class="row report-cell better-row" style="display: none; padding: 10px; position: relative;" id="report-<%= locals[:assignment_id] %>">
  <div class="col">
    <div class="row">
      <div class="col-10">
        <h4>REPORT: <%= locals[:assignment_name] %>.</h4>
      </div>
      <div class="col-2">
        <button id="hide-report-<%= locals[:assignment_id] %>" name="<%= locals[:assignment_id] %>" data-remote="true" class="btn btn-outline-light btn-sm btn-block hide-report">Hide</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6" id="report-<%= locals[:assignment_id] %>-body">

      </div>
      <div class="col-6">
        <canvas id="graph-<%= locals[:assignment_id] %>" width="300" height="300"></canvas>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
      <div class="col-md-auto">
        <button href="" id="download-report-<%= locals[:assignment_id] %>" name="<%= locals[:assignment_id] %>" data-remote="true" class="btn btn-outline-light btn-sm btn-block download-report">Download CSV</button>
        <%= link_to 'Download CSV2', assignment_grades_path(id: locals[:assignment_id]), class: "btn btn-outline-light btn-sm btn-block download-report" %>
      </div>
    </div>
  </div>
</div>

<script>
var ctx = document.getElementById("graph-<%= locals[:assignment_id] %>").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
        datasets: [{
            label: 'Student Performance',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 3
        }]
    },
    options: {
        legend: {
          labels: {
            fontColor: "white",
            fontSize: 16,
            backgroundColor: "rgb(34, 119, 221)"
          }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: "#FFFFFF"
                },
                gridLines: {
                    color: "#cfcfcf"
                }
            }],
            xAxes: [{
                ticks: {
                  display: false
                },
                gridLines: {
                    color: "#cfcfcf"
                }
            }]
        }
    }
});
</script>
