<div class="row report-cell better-row" style="display: none; padding: 10px; position: relative;" id="report-<%= locals[:assignment_id] %>">
  <div class="col">
    <div class="row">
      <div class="col-10">
        <h4>REPORT: <%= locals[:assignment_name] %>.</h4>
      </div>
      <div class="col-2">
        <button id="hide-report-<%= locals[:assignment_id] %>" name="<%= locals[:assignment_id] %>" data-remote="true" class="btn btn-outline-light btn-sm btn-block hide-report">Hide</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="report-<%= locals[:assignment_id] %>-body">

      </div>
    </div>
    <div class="row">
      <div class="col">

      </div>
      <div class="col-md-auto">
        <button id="download-report-<%= locals[:assignment_id] %>" name="<%= locals[:assignment_id] %>" data-remote="true" class="btn btn-outline-light btn-sm btn-block download-report">Download CSV</button>
      </div>
    </div>
  </div>
</div>
