<br>

<h4 style="display: flex; margin-bottom: 10px" class="justify-content-between">My Submissions</h4>

<%= render 'table_header', locals: { first: 'Assignment Name', second: 'Date Submitted', third: 'Grade' } %>


  <% if !@submissions.nil? && @submissions.any? %>
    <% @submissions.each do |submission| %>
    <div class="row better-row" style="padding-top: 25px; padding-bottom: 25px; background-color: rgb(242, 242, 242);">

        <div class="col-6">
          <%= link_to submission.assignment.name, submission %>
        </div>
        <div class="col-3">
          <%= submission.submission_date.strftime('%b %d %Y, %H:%M') %>
        </div>
        <div class="col-3">
          <% if !submission.grade.nil? %>
            <%= submission.grade %>
          <% else %>
            <%= '---' %>
          <% end %>
        </div>

    </div>
    <% end %>
  <% else %>
  <div class="row better-row" style="padding-top: 25px; padding-bottom: 25px; background-color: rgb(242, 242, 242);">
    <div class="col">
      No assigments
    </div>
  </div>

  <% end %>
