<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'src-min/ace.js', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%# <script src="lib/typed.js"></script> %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  </head>

  <body style="font-family: 'Roboto Slab'">
    <% unless flash.empty? %>
      <% flash.each do |message_type, message| %>
        <%= javascript_tag "toastr.#{message_type}('#{message}')" %>
      <% end %>
    <% end %>

    <%= render 'layouts/header' %>
    
    <%= yield %>

  </body>
</html>
